<div class="container">
  <div class="flight-personal-info">
    <h1>Provide Personal Information</h1>
    <form
      [formGroup]="personalInfoForm"
      (ngSubmit)="onViewSummary()"
      class="book-form"
    >
      <div class="section personal-details">
        <h3>Personal Details</h3>
        <div class="input-group-row">
          <div class="input-group">
            <label for="name-and-surname">Name and Surname:</label>
            <input
              formControlName="nameAndSurname"
              type="text"
              id="name-and-surname"
            />
          </div>

          <div class="input-group">
            <label for="date-of-birth">Date of Birth:</label>
            <input
              formControlName="dateOfBirth"
              type="date"
              id="date-of-birth"
            />
          </div>

          <div class="input-group">
            <label for="id-document-number">ID Document Number:</label>
            <input
              formControlName="idDocumentNumber"
              type="text"
              id="id-document-number"
            />
          </div>
        </div>
      </div>

      <div class="section contact-info">
        <h3>Contact Information</h3>
        <div class="input-group-row">
          <div class="input-group">
            <label for="email">Email:</label>
            <input formControlName="email" type="email" id="email" />
          </div>

          <div class="input-group">
            <label for="phone">Phone Number:</label>
            <input formControlName="phone" type="text" id="phone" />
          </div>
        </div>
      </div>

      <div class="section address-details">
        <h3>Address Details</h3>
        <div class="input-group-row">
          <div class="input-group">
            <label for="address">Address:</label>
            <input formControlName="address" type="text" id="address" />
          </div>

          <div class="input-group">
            <label for="country">Country:</label>
            <input formControlName="country" type="text" id="country" />
          </div>

          <div class="input-group">
            <label for="city">City:</label>
            <input formControlName="city" type="text" id="city" />
          </div>

          <div class="input-group">
            <label for="postal-code">Postal Code:</label>
            <input formControlName="postalCode" type="text" id="postal-code" />
          </div>
        </div>
      </div>
      <div class="button-container">
        <button (click)="OnBackToDetails()">Back to flight details</button>
        <button type="submit" [disabled]="!personalInfoForm.valid">
          Proceed
        </button>
      </div>
    </form>
    @if(personalInfoForm.invalid && everyFieldTouched()) {
    <div class="error-message">
      The following fields were filled in incorrectly:
      @if(personalInfoForm.get('nameAndSurname')?.invalid) { Name and Surname; }
      @if(personalInfoForm.get('dateOfBirth')?.invalid) { Date of Birth; }
      @if(personalInfoForm.get('idDocumentNumber')?.invalid) { ID Document;
      Number } @if(personalInfoForm.get('email')?.invalid) { Email; }
      @if(personalInfoForm.get('phone')?.invalid) { Phone Number; }
      @if(personalInfoForm.get('address')?.invalid) { Address; }
      @if(personalInfoForm.get('city')?.invalid) { Country; }
      @if(personalInfoForm.get('country')?.invalid) { City; }
      @if(personalInfoForm.get('postalCode')?.invalid) { Postal Code; }
    </div>
    }
  </div>
</div>
