body {
  background: #e6efff;
  overflow-x: hidden;
}

button {
  padding: 0.7rem 2rem;
  background-color: #2c63c2;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #1e4fa3;
}
