.container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 12px;
}

.booking-confirmation {
  margin: 20px 0;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  width: 60%;
  text-align: center;
}

h1 {
  text-align: center;
  color: #2c63c2;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.2rem;
  color: #2c63c2;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}
