<div class="container">
  @if(offerPurchasedMessageCounter) {
  <div class="offer-purchased-message">
    This offer was recently purchased by
    <span
      class="counter"
      [class.highlight]="animateCounter"
      (animationend)="onAnimationEnd()"
    >
      {{ offerPurchasedMessageCounter }}
    </span>
    client(s).
  </div>
  }
  <app-flight-details />
  <div *ngIf="flight" class="flight-book">
    <h1>Book flight</h1>
    <form
      [formGroup]="bookForm"
      (ngSubmit)="onProceedWithBooking()"
      class="book-form"
    >
      <div class="section">
        <h3>Seats</h3>
        <div formGroupName="classSelection" class="input-group-row">
          <div class="input-group">
            <label for="first-class">First class seats:</label>
            <input
              formControlName="firstClass"
              type="number"
              id="first-class"
              name="first-class"
            />
          </div>

          <div class="input-group">
            <label for="economy-class">Economy class seats:</label>
            <input
              formControlName="economyClass"
              type="number"
              id="economy-class"
              name="economy-class"
            />
          </div>
        </div>
      </div>

      <div class="section">
        <h3>Baggage</h3>
        <div formGroupName="baggageSelection" class="input-group-row">
          <div class="input-group">
            <label for="carry-on-baggage">Carry on baggage:</label>
            <input
              formControlName="carryOnBaggage"
              type="number"
              id="carry-on-baggage"
              name="carry-on-baggage"
            />
          </div>

          <div class="input-group">
            <label for="checked-baggage">Checked baggage:</label>
            <input
              formControlName="checkedBaggage"
              type="number"
              id="checked-baggage"
              name="checked-baggage"
            />
          </div>
        </div>
      </div>

      <div class="section">
        <h3>Additional Services</h3>
        <div class="input-group">
          <label for="priority-boarding">Priority boarding:</label>
          <input
            formControlName="priorityBoarding"
            type="checkbox"
            id="priority-boarding"
            name="priority-boarding"
          />
        </div>

        <div class="input-group">
          <label for="insurance">Insurance:</label>
          <input
            formControlName="insurance"
            type="checkbox"
            id="insurance"
            name="insurance"
          />
        </div>
      </div>

      <div>
        <h2>Total price: {{ totalPrice | number : "1.2-2" }} zł</h2>
      </div>

      <div class="button-container">
        <button (click)="OnBackToList()">Back to flights</button>
        <button type="submit" [disabled]="!bookForm.valid">Proceed</button>
      </div>
    </form>
    @if(bookForm.invalid) {
    <div class="error-message">
      The form is invalid.
      @if(bookForm.errors?.['notEnoughFirstClassSeatsLeft']) {
      {{ bookForm.errors!["notEnoughFirstClassSeatsLeft"] }}
      } @if(bookForm.errors?.['notEnoughEconomySeatsLeft']) {
      {{ bookForm.errors!["notEnoughEconomySeatsLeft"] }}
      } @if(bookForm.errors?.['minSeatsRequired']) {
      {{ bookForm.errors!["minSeatsRequired"] }}
      } @if(bookForm.errors?.['maxSeatsExceeded']) {
      {{ bookForm.errors!["maxSeatsExceeded"] }}
      } @if(bookForm.errors?.['maxCarryOnBaggagesExceeded']) {
      {{ bookForm.errors!["maxCarryOnBaggagesExceeded"] }}
      } @if(bookForm.errors?.['maxCheckedBaggagesExceeded']) {
      {{ bookForm.errors!["maxCheckedBaggagesExceeded"] }}
      }
    </div>
    }
  </div>
</div>
