<div class="personal-details">
  <h1>Personal Details</h1>
  <div class="info-grid">
    <div class="section info-row">
      <div class="info-item">
        <h3>Personal Details</h3>
        <h2>Name and Surname:</h2>
        <h2>{{ providedNameAndSurname }}</h2>
        <h2>Date of Birth:</h2>
        <h2>{{ providedDateOfBirth }}</h2>
        <h2>ID Document Number:</h2>
        <h2>{{ providedIdDocumentNumber }}</h2>
      </div>
    </div>

    <div class="section info-row">
      <div class="info-item">
        <h3>Contact Information</h3>
        <h2>Email:</h2>
        <h2>{{ providedEmail }}</h2>
        <h2>Phone Number:</h2>
        <h2>{{ providedPhone }}</h2>
      </div>
    </div>

    <div class="section info-row">
      <div class="info-item">
        <h3>Address Details</h3>
        <h2>Address:</h2>
        <h2>{{ providedAddress }}</h2>
        <h2>Country:</h2>
        <h2>{{ providedCountry }}</h2>
        <h2>City:</h2>
        <h2>{{ providedCity }}</h2>
        <h2>Postal Code:</h2>
        <h2>{{ providedPostalCode }}</h2>
      </div>
    </div>
  </div>
</div>
