.container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 12px;
}

app-flight-details,
app-booking-details,
app-personal-details {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.title,
.button-container {
  justify-self: center;
  width: 92%;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  flex: 1;
  text-align: center;
  color: #2c63c2;
  font-size: 3rem;
  font-weight: bold;
  cursor: default;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  border: 6px solid #f8f9fa;
  border-top: 6px solid #2c63c2;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 0.9s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  app-flight-details,
  app-booking-details,
  app-personal-details {
    flex: 1 1 100%;
  }
}
